<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>


<strong>Patients: </strong>
 <% @specialist.patient.each do |patient| %>
           <br></bk> <%=  patient.name %> </P>

<% end %>

<strong>Appointment Date:</strong>
<% @specialist.appointment.each do |date| %>
  <br>  <% d = date.appointment_date %>
    <% if d > DateTime.now  %>
        <%= date.appointment_date %> </P>
    <% else %>
<%end%>
<% end %>


<strong>Days Until Appointment </strong>
    <%  @specialist.appointment.each do |date|%>
    <br> <% t = date.appointment_date - DateTime.now %>
<% if t > 0  %>
        <%= t.to_i %> </P>
    <% else %>

    <% end %>



<% end %>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
