<p id="notice"><%= notice %></p>

<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance_id %>

</p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>

<P>
  <strong>Specialist:</strong>
      <% @patient.specialist.each do |x| %>
          <br> -<%= x.name %> </P>
  <% end %>

  <strong>Appointment Date:</strong>
  <% @patient.appointment.each do |date| %>
      <br> -<%= date.appointment_date %> </P>
  <% end %>


</ul>
<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
